<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/index.css" />
		<title>Predict | Dog Breed Identification</title>
	</head>
	<body>
		<header class="header">
			<nav class="header-navigation">
				<ul class="header__nav">
					<li><a href="/" class="nav-link">Home</a></li>
					<li>
						<a
							href="https://www.kaggle.com/competitions/dog-breed-identification/data"
							class="nav-link"
							>Dataset</a
						>
					</li>
					<li>
						<a
							href="https://www.kaggle.com/code/abdulrehmandev/dog-breed-identification"
							target="_blank"
							class="nav-link"
							>Notebook</a
						>
					</li>
					<li><a href="/predict" class="nav-link">Predict</a></li>
					<li><a href="/details" class="nav-link">Details</a></li>
				</ul>
			</nav>
		</header>

		<form
			class="predict-form"
			action="/prediction"
			method="post"
			enctype="multipart/form-data"
		>
			<div class="predict-upload predict">
				<label class="predict-label" for="fileInput">
					Select Image
					<input
						required
						id="fileInput"
						class="predict-input"
						accept="image/jpeg, image/jpg"
						type="file"
						name="file"
					/>
				</label>
			</div>
			<button class="predict-submit-btn" type="submit">Predict</button>
		</form>

		<p class="format-rest">Only .jpg and .jpeg format allowed</p>

		<div class="prediction">
			<h1 class="prediction-title">Prediction</h1>
			<div class="row">
				<p class="value-title">Dog Breed</p>
				<p class="value-count">{{breed}}</p>
			</div>
			<div class="row">
				<p class="value-title">Probability Percentage</p>
				<p class="value-count">{{perc}}</p>
			</div>
		</div>
		<footer class="contribs">
			<h4 class="contribs-title">Model Build By</h4>
			<div class="row">
				<a href="https://github.com/Usama-Amjad" target="_blank">
					<img
						class="contribs__img"
						src="../static/image-usama.jpeg"
						alt="Usama Amjad"
					/>
				</a>
				<a href="https://github.com/abdulrehmadev/" target="_blank">
					<img
						class="contribs__img"
						src="../static/image-abdulrehman.jpg"
						alt="Abdul Rehman"
					/>
				</a>
				<a href="https://github.com/Rana-Khizar/" target="_blank">
					<img
						class="contribs__img"
						src="../static/image-khizr.jpeg"
						alt="Rana Khizr Hayat"
					/>
				</a>
			</div>
		</footer>
	</body>
</html>
